---
import Container from '../../../components/Container.astro';
import Section from '../../../components/Section.astro';
import TextBlock from '../../../components/TextBlock.astro';
import TextBlockContainer from '../../../components/TextBlockContainer.astro';

const faq = await Astro.glob('../../../content/faq/*.md');
---

<Section className="bg-black">
  <Container>
    <TextBlockContainer>
      {
        faq.map((item) => (
          <>
            <TextBlock
              h1={item.frontmatter.title}
              html={item.compiledContent()}
            />
          </>
        ))
      }
    </TextBlockContainer>
  </Container>
</Section>
