---
import { Image } from 'astro:assets';
import H1 from '../../../components/H1.astro';
import HeroWrapper from '../../../components/HeroWrapper.astro';
import RhyzeLogo from '../../../assets/rhyze_logo.png';
---

<section>
  <HeroWrapper className="justify-center items-center">
    <div class="space-y-16 text-center flex flex-col">
      <div class="flex items-center justify-center">
        <Image src={RhyzeLogo} alt="Rhyze hero logo" width={200}/>
      </div>
      <H1 className="md:text-7xl animate">Rhyze and Shine</H1>
      <div class="animate">
        <span
          class="p-4 bg-primary text-secondary font-black text-7xl rounded-[23px]"
          >07:04:15:02</span
        >
      </div>
      <p class="font-bold text-3xl animate">Until fair launch</p>
      <p class="font-bold text-3xl animate">
        Rhyze launch date: August 10 2023
        <br />
        Time: 19:00 UTC
      </p>
    </div>
  </HeroWrapper>
</section>
