---
import { Image } from 'astro:assets';
import PalmTree from '../../../assets/palm_tree.png';
import RhyzeLogo from '../../../assets/rhyze_logo_outline.png';
import H1 from '../../../components/H1.astro';
import HeroWrapper from '../../../components/HeroWrapper.astro';
import Countdown from '../../../components/svelte/Countdown.svelte';
---

<section class="relative overflow-hidden">
  <HeroWrapper className="justify-center items-center">
    <div class="space-y-12 md:space-y-16 text-center flex flex-col">
      <div class="flex items-center justify-center">
        <Image
          src={RhyzeLogo}
          alt="Rhyze hero logo"
          width={200}
          class="w-[100px] md:w-auto"
        />
      </div>
      <H1 className="md:text-7xl animate">Rhyze and Shine</H1>
      <div class="animate">
        <Countdown client:load />
      </div>
      <p class="font-bold text-3xl animate">Until fair launch</p>
      <p class="font-bold text-3xl animate">
        Rhyze launch date: August 13 2023
        <br />
        Time: 14:00 UTC
      </p>
    </div>
  </HeroWrapper>
  <div
    class="hidden lg:block absolute top-[-15%] left-[-100%] rotate-[15deg] z-[50] animate-palm-1"
  >
    <Image src={PalmTree} alt="Palm tree" width={1300} />
  </div>
  <div
    class="hidden lg:block absolute top-[-20%] right-[-100%] rotate-[-25deg] z-[50] animate-palm-2"
  >
    <Image src={PalmTree} alt="Palm tree" width={1500} class="scale-x-[-1]" />
  </div>
</section>
