---
import Container from '../../../components/Container.astro';
import Section from '../../../components/Section.astro';
import TextBlock from '../../../components/TextBlock.astro';
---

<Section className="bg-primary">
  <Container>
    <div class="text-white text-center space-y-32 max-w-xl mx-auto">
      <TextBlock h1="How it works?" content="It just works" />
      <TextBlock h1="How it works?" content="It just works" />
      <TextBlock h1="How it works?" content="It just works" />
      <TextBlock h1="How it works?" content="It just works" />
    </div>
  </Container>
</Section>
