---
import { Image } from 'astro:assets';
---

<div
  class="card bg-primary/20 shadow-xl overflow-hidden transition-transform hover:scale-[1.02]"
>
  <div class="w-full max-h-[400px] bg-zinc-500 overflow-hidden">
    <Image
      src="https://cdn.pixabay.com/photo/2023/07/12/07/07/cat-8121892_1280.jpg"
      alt="cat"
      width="100%"
      height={400}
      class="w-full max-w-[100%]"
    />
  </div>
  <div class="card-body">
    <h2 class="card-title">The Creator Economy</h2>
    <p class="text-sm">2023-08-08</p>
    <p class="mb-4">
      Value creators earn with their mind, not their time, because one man’s
      labor cannot scale, but their creative ability can.
    </p>
    <div class="card-actions justify-center">
      <button class="btn btn-primary btn-md btn-block">Read full note</button>
    </div>
  </div>
</div>
