---
import { Image } from 'astro:assets';
import RhyzeLogo from '../assets/rhyze_logo.png';
---

<div class="flex items-center gap-4">
  <Image src={RhyzeLogo} alt="Rhyze Logo" width={25}/>
  <strong>Rhyze</strong>
</div>
