---
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section
  class={twMerge('py-12 md:py-24 bg-[url("/noise.png")] bg-center', className)}
  id={id}
>
  <slot />
</section>
